<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Landing Page</title>
	<link rel="stylesheet" href="~/css/customer-site.css" />

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<link href="~/lib/Datatable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/Datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/customer-custom.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link href="~/lib/bootstrap/4.4.1/css/customer-offcanvas.css" rel="stylesheet" />

	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark cm-top-nav-bar">
		<a class="navbar-brand mr-auto mr-lg-0" href="@Url.Action("Index", "Home")">
			<img class="cm-logo pull-left" src="~/contoso-sales.png" />
			@*<img class="cm-logo pull-left" src="https://kblnuser.azurewebsites.net/logo.png" />*@
		</a>
		@*<a class="navbar-brand mr-auto mr-lg-0" asp-area="" asp-controller="Home" asp-action="Index">SaasKit Demo</a>*@

		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<div class="navbar-nav mr-auto">
			</div>

			<ul class="form-inline my-2 my-lg-0">
				@if (this.User.Identity.IsAuthenticated)
				{
					<li class="btn-group nav">
						<button type="button" class="text-white user-icon bi bi-person-circle btn navbar-btn" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>

						<ul class="dropdown-menu user-details dropdown-custom-menu p-2" role="menu">
							<li class="d-flex justify-content-between">
								<span>@User?.Claims.FirstOrDefault(s => s.Type =="http://schemas.microsoft.com/identity/claims/tenantid")?.Value</span>
								<span><a asp-controller="Account" asp-action="SignOut">Sign Out</a></span>
							</li>
							<li class="d-flex p-4">
								<div class="p-3" id="username_initial" style='border-radius: 40px; width: 80px; height: 80px;background-color:darkblue; font-size:30px;color:white'></div>
								<div class="px-4">
									<div id="username" style='text-align:start;font-weight:700;font-size:x-large'>@User.Identity.Name</div>
									<div style='text-align:start'>@User?.Claims.FirstOrDefault(s => s.Type =="preferred_username")?.Value</div>
								</div>
							</li>
						</ul>
					</li>
				}
				else
				{
					<a class="text-white" asp-controller="Account" asp-action="SignIn">Sign in</a>
				}
			</ul>
		</div>
	</nav>
	<div class="container cm-menu-bar">
		<ul class="nav nav-tabs">
			@if (this.User.Identity.IsAuthenticated)
			{
				<li class="nav-item" role="presentation">
					<a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				@if (TempData["ShowWelcomeScreen"] != null)
				{
					<li class="nav-item" role="presentation">
						<a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Subscriptions" || ViewContext.RouteData.Values["Action"].ToString() == "ViewSubscription" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Subscriptions">Subscriptions</a>
					</li>
				}
			}
		</ul>
	</div>
	<div class="container pb-3">
		<partial name="_CookieConsentPartial" />
		<main role="main" class="card pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="cm-footer">
		<div class="container text-center">
			&copy; 2020 - SaasKit - Demo
		</div>
	</footer>

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" asp-append-version="true"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/4.4.1/js/offcanvas.js"></script>

	@RenderSection("Scripts", required: false)
	<script>
		function setUserNameInitials() {
			var username = $('#username').text()
			const names = username.split(" ");
			var nameInitials = "";

			for (let i = 0; i < names.length; i++) {
				nameInitials = names[0][0] + names[names.length - 1][0];
			}
			$('#username_initial').text(nameInitials);
		}
		setUserNameInitials();
	</script>
</body>
</html>
