@model Marketplace.SaaS.Accelerator.Services.Models.SubscriptionResultExtension

<div>
	<div class="modal-dialog modal-lg mt200" data-backdrop="static">
		<div class="modal-content">
			<div class="modal-header bg-primary text-white">
				<h4 class="col-12 modal-title text-center">Change Plan</h4>
			</div>
			<form asp-action="ChangeSubscriptionPlan" id="frmSubscriptionDetail" method="post">
				<div class="modal-body border text-center">
					<dl class="row text-left">
						<dt class="col-sm-4 pl80 border">
							@Html.DisplayNameFor(model => model.Id)
						</dt>
						<dd class="col-sm-8 pl80 border">
							@Html.DisplayFor(model => model.Id)
						</dd>
						<dt class="col-sm-4 pl80 border">
							@Html.DisplayNameFor(model => model.Name)
						</dt>
						<dd class="col-sm-8 pl80 border">
							@Html.DisplayFor(model => model.Name)
						</dd>
						<dt class="col-sm-4 pl80 border">
							@Html.DisplayNameFor(model => model.SubscriptionStatus)
						</dt>
						<dd class="col-sm-8 pl80 border">
							@Html.DisplayFor(model => model.SubscriptionStatus)
						</dd>
						<dt class="col-sm-4 pl80 border">
							@Html.DisplayName("Current Plan")
						</dt>
						<dd class="col-sm-8 pl80 border">
							@Html.DisplayFor(model => model.PlanId)
						</dd>
						<dt class="col-sm-4  pl80 border">
							@Html.DisplayName("Change Plan")
						</dt>
						<dd class="col-sm-8  pl80 border">
							@Html.DropDownListFor(s => s.PlanId, new SelectList(Model.PlanList, "PlanId", "PlanId", Model.PlanId), new { @class = "form-control w-100" })
							@Html.HiddenFor(s => s.Id)
							@Html.HiddenFor(s => s.PlanId)
							@Html.HiddenFor(s => s.SubscribeId)
						</dd>
					</dl>
					<div class="text-left">
						<div id="frmSpinner" class="spinner-border mt-2" role="status" style="margin-bottom: -10px; margin-right: 20px;" hidden>
							<span class="sr-only">Processing...</span>
						</div>
						<div class="col-11 text-center align-items-left">
							<button id="frmButton" type="button" onclick="confirmDialog()" class="btn btn-primary">Change Plan</button>
							<button type="button" class="btn btn-primary text-center bg-secondary" data-dismiss="modal">Close</button>
						</div>						
					</div>

				</div>
			</form>
		</div>
	</div>
</div>