@model List<Marketplace.SaaS.Accelerator.DataAccess.Entities.SubscriptionAuditLogs>
<div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header bg-primary text-white">
			<h4 class="col-12 modal-title text-center">ACTIVITY LOGS</h4>
		</div>
		<div class="modal-body">
			<div class="table">
				<table class="table-borderless" aria-label="ACTIVITY LOGS">
					<tr>
						<td class="text-left"><b>Plan</b></td>
						<td class="text-left">@Model.FirstOrDefault()?.Subscription?.AmpplanId</td>
					</tr>
					<tr>
						<td class="text-right"><b>Subscription</b></td>
						<td class="text-left">@Model.FirstOrDefault()?.Subscription?.Name</td>
					</tr>
				</table>
			</div>
			<div class="table-wrapper-scroll-y my-custom-scrollbar">
				<table id="activityLog" aria-label="ACTIVITY LOGS" class="table table-striped table-hover">
					<thead class="table-secondary">
						<tr>
							<th class="text-left" width="22%">Activity Log Time</th>
							<th class="text-left" width="20%">Subscription Name</th>
							<th class="text-left" width="10%">Attribute</th>
							<th class="text-left" width="10%">Old Status</th>
							<th class="text-left" width="10%">New Status</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var log in Model)
						{
							<tr>
								<td class="text-left">
									@if (log.CreateDate != null && log.CreateDate.HasValue)
									{
										@log.CreateDate.Value.ToString("MM/dd/yyyy hh:mm tt")
									}
								</td>
								<td class="text-left">@log.Subscription.Name</td>
								<td class="text-left">@log.Attribute</td>
								<td class="text-left">@log.OldValue</td>
								<td class="text-left">@log.NewValue</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<div class="col-12 text-center align-items-center">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>